.contact_background{
    background-image: url(../images/img_bg.jpg);
    background-color: #1C68D5;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    color: #fff;
}
.contact_background:before {
    background: linear-gradient(54deg,rgba(26, 82, 118,.95) 34%,rgba(156, 169, 206, 0.95));
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    z-index: 0;
}
.contact_section{
    padding-top: 60px;
    padding-bottom: 60px;
}
.contact_section .contact_title {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 42px;
    font-family: Roboto Mono,monospace;
}
.contacts{
    margin-top: 20px;
}
.contacts .contact_list{
    margin-bottom: 45px;
}
.contacts .contact_list dl{
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono,monospace;
}
.contacts .contact_list dt{
    float: left;
    font-weight: 700;
}
.contacts .contact_list dd{
    padding-left: 100px;
    margin-bottom: 15px;
}
.contacts .contact_social{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
}
.contacts .contact_social ul{
    padding: 0;
    list-style: none;
}
.contacts .contact_social li{
    margin-bottom: 20px;
}
.contacts .contact_social a{
    color: #fff;
    text-decoration: underline;
    padding: 6px 0;
    transition: all .3s;
}
.contacts .contact_form .contact_form_title{
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono,monospace;
}
.contacts .contact_form input{
    width: 100%;
    
    border-radius: 3px;
    border: 1px solid #fff;
    padding: 10px;
    /* color: #1C68D5; */
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono,monospace;
}
.contacts .contact_form input:focus{
    box-shadow: inset 0 0 5px 0 #1C68D5;
    border: 1px solid #fff;
    outline: none;
}
.contacts .contact_form input:invalid{
    outline: none;
}
.contacts .contact_form textarea{
    width: 100%;
    
    border-radius: 3px;
    border: 1px solid #fff;
    padding: 10px;
    height: 115px;
    /* color: #1C68D5; */
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono,monospace;
}
.contacts .contact_form textarea:focus{
    box-shadow: inset 0 0 5px 0 #1C68D5;
    border: 1px solid #fff;
    outline: none;
}
.contacts .contact_form .btn_send{
    background-color: #2865bb; 
    height: 50px;
    border-radius: 25px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 15px;
    min-width: 170px;
    text-align: center;
    display: inline-block;
    color: #fff!important;
    font-weight: 600;
    overflow: hidden;
    width: 100%;
    border: none!important;
    box-shadow: 0 1px 29px rgba(0,0,0,.16);
    position: relative;
}
::placeholder {
    color: black;
  }
.contacts .contact_form .btn_send:focus, .contacts .contact_form .btn_send:hover{
    background-color: #305ab4!important;
    text-decoration: none;
}
.contacts .contact_form .btn_send:active, .contacts .contact_form .btn_send:focus{
    box-shadow:none!important
}
.contact_section .footer{
    color: #fff;
    opacity: .4;
    width: 100%;
    text-align: center;
    top: 60px;
    position: relative;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono,monospace;
}
