.section_myprojects{
    padding-top: 60px;
    padding-bottom: 60px;
}
.section_myprojects .section_title{
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 42px;
    font-family: Roboto Mono,monospace;
}
.section_myprojects .card{
    font-family: Roboto Mono,monospace;
    margin-bottom: 10px;
    transition: all .5s ;
}
.section_myprojects .card:hover{
    box-shadow: 5px -5px 20px rgb(207, 204, 204) ;
    transition: all .5s ;
}
.section_myprojects .card .colImg{
   text-align: center;
   background:linear-gradient(to bottom right, rgb(255, 255, 255),rgb(207, 207, 207));
}
.section_myprojects .card .colImg:hover{
   cursor: pointer;
}
.section_myprojects .card .imgCovid19{
    width: 90%;
    padding: 8%;
    border-radius: 8px;
}
.section_myprojects .card .logoMobApp{
    width: 50%;
    margin: 20px;
}
.card .text-muted{
    color: #1C68D5 !important;
    font-weight: 500;
    font-size: 19px;
}
.card .text-muted:hover{
    text-decoration: underline;
    cursor: pointer;
}
.card .card-title{
    font-weight: 700;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.card .card-body p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 45px;
}
.card .card-text-link{
    right: 5%;
    position: absolute;
    top: 80%;

}
.frame_video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    z-index: 9999;
    transition: all .3s ease;
    padding: 0;
    background-color: rgba(0,0,0,.8);
    opacity: 1;
}
.close_video{
    color: #fff;
    transition: all .3s;
    /* margin-top: 10%;
    margin-right: 15px; */
    background-color: transparent;
    border: none;
    justify-content: flex-end;
    height: 48px;
    padding: 0px 16px;
    align-items: center ;
}
.close_video:hover{
    color: rgb(170, 167, 167);
    cursor: pointer;
}
.video{
    justify-content: center;
    /* margin-top: 5%; */
}
.video video{
    height: 30rem;
    width: 100%;
    background: black;
    margin: 5px;
}